.container {
	width: 100%;
	padding-left: 5%;
	height: 100vh;
}
.main-menu {
	height: 100vh;
	width: 14%;
	float: left;
}
.content {
	width: 74%;
	float: left;
	height: 100vh;
	background-color: #F1F3F4;
}
.main-menu ul{
	list-style-type: none;
	font-size: larger;
} 
.main-menu li{
	display: inline-block;
	width: 180px;
	height: 60px;
	line-height: 60px;
	text-decoration: none;
	color: black;
	display: block;
}
.main-menu a{
	text-decoration: none;
	color: black;
	display: block;
	padding-left: 25px;
	border-bottom: 1px solid black;			
}
.main-menu li a:hover{
	background-color: red;
	display: block;
	color: white;			
}